<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/smpcert-layout}"
>
<body>
<section layout:fragment="smpcert-content">
<div class="card">
	<div class="card-header">
		Install new key pair
	</div>
	<div class="card-body">
		<div class="row mb-3">
			<span th:unless='${newCert}'>
			When integrated with the Peppol SML service, the new SMP certificate must also be activated in the SML.
			Activation in the SML can however only be done on a future date, therefore the new certificate cannot be used
			directly and you will have to provide the activation date. This will be done after uploading the new key pair.
			</span>
			<span th:if='${newCert}'>
			Please provide the date at which the new key pair, shown below, must be activated. Once registered in the SML the server will
			automatically change the used key pair at the specified date. NOTE: Once registered in the SML <b>the change cannot be reverted</b>
			 without manual intervention! 			
			</span>			
		</div>
		<form th:unless='${newCert}' id="newCertForm" method="POST" enctype="multipart/form-data" th:action="@{/settings/sml/smpcert/upload}">
		<div class="row mb-3">
			<label for="formFile" class="col-2 col-form-label">Key pair file</label>
			<div class="col-9">
			<div class="input-group">
				<input type="file" class="form-control" id="keypairFile" name="keypair">
				<label for="keypairFile" class="input-group-text">Supported formats: PKCS#12, JKS or JCEKS</label>
			</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="serviceID" class="col-2 col-form-label">Key pair password</label>
			<div class="col-4">
				<input type="password" class="form-control" id="password" name="password"/>
			</div>
			<div th:if="${keyFileError}" class="offset-2 mt-1 text-danger"
					   th:text="${keyFileError}">Errors go here</div>
		</div>
		</form>
		<div th:if="${newCert}">
			<form id="activateForm" method="POST" th:action="@{/settings/sml/smpcert/activate}">
			<div class="row mb-3">
				<label for="activation" class="col-2 col-form-label">Activate on</label>
				<div class="col-sm-4">
					<div>
						<input type="date" class="form-control" id="activation" name="activationDate"
							   th:min="${activationDate}" th:value='${activationDate}'
							   th:classappend="${activationError} ? 'is-invalid' : _">
					</div>
					<div th:if="${activationError}" id="invalidActivationMsg" class="small text-danger"
						 th:text="${activationError}"></div>
				</div>
			</div>
			</form>
			<div class="row mb-3">
				<strong>Overview of key pair to be registered in the SML</strong>
			</div>
			<div th:replace="::certinfo (cert=${newCert})"></div>
		</div>
	</div>
</div>
<div th:unless='${newCert}' class="row justify-content-center mt-3">
	<div class="col-auto "><button type='submit' form='newCertForm' class="btn btn-primary">Upload key pair</button></div>
</div>
<div th:if="${newCert}" class="row justify-content-center mt-3">
	<div class="col-auto"><button type='submit' form='activateForm' class="btn btn-primary">Register update in SML</button></div>
	<div class="col-auto "><a th:href="@{/settings/sml/smpcert}"><button type="button" class="btn btn-secondary">Discard uploaded key pair</button></div>
</div>
</section>
</body>
</html>
