<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/smpcert-layout}"
>
<body>
<section layout:fragment="smpcert-content">
	<div class="card">
		<div class="card-header">
			Pending certificate update
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<span>
				The following certificate update is already registered with the Peppol SML service.
				</span>
			</div>
			<div class="row mb-3">
				<label class="col-2 col-form-label">Activation date</label>
				<label class="col-2 col-form-label" th:text='${activationDate}'></label>
			</div>
			<div th:replace="::certinfo (cert=${newCert})"></div>
		</div>
	</div>
</section>
</body>
</html>
