<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/settings-layout}"
>
<body>
<section layout:fragment="settings-content">
	<div class="card">
		<div class="card-header">
			Revert pending certificate update?
		</div>
		<div class="card-body">
			<div class="row">
				<p><b>
				Reverting the pending certificate should only be done when you have made sure the planned update is also
				removed from the SML!
				</b>
				</p> 
				<p> 
				Are you sure you want to revert the pending certificate change as shown below?
				<p>
				</b>
			</div>
			<form id="confirmRevert" method="POST" th:action="@{/settings/sml/smpcert/revert}">
			<input type="hidden" name="revertId" th:value="${revertId}">
			<div class="row justify-content-start ">
				<div class="col-auto"><a th:href="@{/settings/sml/smpcert}"><button type="button" class="btn btn-primary">No, go back</button></a></div>
				<div class="col-auto"><button type='submit' class="btn btn-danger">Yes, revert planned update</button></div>
			</div>				
			</form>
		</div>
	</div>
</section>
</body>
</html>
