<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/settings-layout}"
	  >
<body>
<section layout:fragment="settings-content">
	<form id="smlForm" method="post" th:action="@{/settings/sml/update}" th:object="${registration}">
	<input type="hidden" th:field="*{oid}">
	<input type="hidden" th:field="*{environment}">
	<div class="row">
	<div class="container">
		<h5>Peppol SML integration</h5>
		<div class="card">
		<div class="card-body">
		<div th:if="${infoMessage}" class="row mb-3">
			<div class="col mx-2 alert alert-success d-flex align-items-center" role="alert">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
				</svg>
				<div class="" th:text="${infoMessage}"></div>
			</div>
		</div>
		<div th:if="${errorMessage}" class="row mb-3">
			<div class="col mx-2 alert alert-warning d-flex align-items-center" role="alert">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</svg>
				<div class="" th:text="${errorMessage}"></div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				Based on the configured SMP certificate the SMP needs to be registered in the <b th:text="*{environment}">SMK</b>.
			</div>
		</div>
		<div class="row mb-3">
			<label for="smpID" class="col-2 col-form-label">SMP identifier</label>
			<div class="col-4">
				<input type="text" class="form-control"
					   th:disabled="!${#strings.isEmpty(registration.identifier)}"
					   th:errorclass="is-invalid" th:field="*{identifier}">
				<div id="invalidNameMsg"
					th:if="${#fields.hasErrors('identifier')}" class="invalid-feedback"
					th:errors="*{identifier}">
				</div>
				<div th:if="!${#strings.isEmpty(registration.identifier)}" class="small">Once registered the identifier cannot be changed</div>
			</div>
			<label class='col-6 col-form-label'>(may contain only letters, digits and the hyphen character)</label>
		</div>
		<div class="row mb-3">
			<label for="smpAddress" class="col-2 col-form-label">SMP IPv4 address</label>
			<div class="col-2">
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{ipAddress}"
					   placeholder="___.___.___.___">
				<div id="invalidIPAddress"
					th:if="${#fields.hasErrors('ipAddress')}" class="invalid-feedback"
					th:errors="*{ipAddress}">
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="smpURL" class="col-2 col-form-label">SMP hostname</label>
			<div class="col-4">
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{hostname}">
				<div id="invalidNameMsg"
					th:if="${#fields.hasErrors('hostname')}" class="invalid-feedback"
					th:errors="*{hostname}">
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-auto "><button type='submit' class="btn btn-primary">Save SMP data in SML</button></div>
		<div class="col-auto "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Reload registered data</button></div>
		<div class="col-auto "><button type="button" th:disabled="*{oid} == 0" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">Remove SMP from SML</button></div>
	</div>
	</div>
	</div>
	</form>

	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Cancel update?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure you want to discard all updates made to the SML registration ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/settings/sml}" id="confirmCancel" class="btn btn-danger">Discard changes</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Delete SMP from SML?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure removing the SMP from the SML?</p>
					<p>Note that this will also remove all registered participants from the SML,
						making it impossible to send document to them!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/settings/sml/remove/}" id="confirmBtn" class="btn btn-danger">Remove SMP from SML</a>
				</div>
			</div>
		</div>
	</div>

</section>
</body>
</html>
