<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/main-layout}"
	  >
<body>
<section layout:fragment="dynamic-content">
	<form method="post" th:action="@{/endpoints/save}" th:object="${endpointFormData}" novalidate>
		<input type="hidden" th:field="*{oid}" />
		<h5 th:text="(*{oid} ? 'Edit' : 'Add') + ' Endpoint'">Add new Endpoint</h5>
		<div class="card">
			<div class="card-header">
				General
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<label for="endpointName" class="col-sm-3 col-form-label">Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="endpointName" th:errorclass="is-invalid"
							   th:field="*{name}">
						<div id="invalidNameMsg"
							 th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
							 th:errors="*{name}">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="transportProfile" class="col-sm-3 col-form-label">Transport profile</label>
					<div class="col-sm-7">
						<select id="transportProfile" class="form-select" th:errorclass="is-invalid"
								th:field="*{profileId}">
							<option value="">Select transport profile</option>
							<option th:each="tp : ${tpProfiles}" th:value="${tp.id}"
									th:text="${tp.id}" th:selected="${lastselected eq tp.id}">transport-profile-id</option>
						</select>
						<div id="invalidProfileMsg"
							 th:if="${#fields.hasErrors('profileId')}" class="invalid-feedback"
							 th:errors="*{profileId}">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="endpointURL" class="col-sm-3 col-form-label">URL</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="endpointURL" th:errorclass="is-invalid"
							   th:field="*{url}">
						<div id="invalidURLMsg"
							 th:if="${#fields.hasErrors('url')}" class="invalid-feedback"
							 th:errors="*{url}">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="activation" class="col-sm-3 col-form-label">Endpoint activation time stamp (UTC)</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="date" class="form-control" id="activation" th:errorclass="is-invalid"
								    th:field="*{activationDate}">
							<input type="time" class="form-control" id="activation" th:errorclass="is-invalid"
								    th:field="*{activationTime}">
							<div id="invalidActivationMsg" class="invalid-feedback"
								 th:errors="*{activationDate}"></div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="expiration" class="col-sm-3 col-form-label">Endpoint expiration time stamp (UTC)</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="date" class="form-control" id="expiration" th:errorclass="is-invalid"
								    th:field="*{expirationDate}">
							<input type="time" class="form-control" id="expiration" th:errorclass="is-invalid"
								    th:field="*{expirationTime}">
							<div id="invalidExpirationMsg" class="invalid-feedback"
								 th:errors="*{expirationDate}"></div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="contactInfo" class="col-sm-3 col-form-label">Contact info</label>
					<div class="col-sm-7">
						<textarea class="form-control" id="contactInfo" rows="2" th:field="*{contactInfo}"></textarea>
					</div>
				</div>
				<div class="row mb-3">
					<label for="description" class="col-sm-3 col-form-label">Description</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="description" th:field="*{description}" onchange="console.log('Hello');">
					</div>
				</div>
			</div>
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col col-md-auto " >Used Certificates</div>
					<div class="col ">
						<button type="submit" name="addCertificate" class="btn btn-sm btn-outline-primary">Add new Certificate</button>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<table class="table table-sm table-scroll-body" >
						<thead>
							<tr class="d-flex">
								<th class="col-4">Issued to</th>
								<th class="col-2">Usage</th>
								<th class="col-2">Activation</th>
								<th class="col-2">Expiration</th>
								<th class="col-auto"></th>
							</tr>
						</thead>
						<tbody style="height: 15vh;">
							<tr class="d-flex" th:each="c, cStat : ${certs}">
								<td class="col-4" th:text="${c.subjectName}">CN=partyb.examples.holodeck-b2b.com,OU=Holodeck B2B Support,O=Chasquis,C=NL</td>
								<td class="col-2" th:text="${c.usage}"></td>
								<td class="col-2" th:text="${c.activationDate != null ? c.activationDate.atTime(c.activationTime) : ''}"></td>
								<td class="col-2" th:text="${c.expirationDate != null ? c.expirationDate.atTime(c.expirationTime) : ''}"></td>
								<td class="col-auto ">
									<button type="submit" name="editCertificate" th:value="${cStat.index}"
											class="btn btn-sm btn-outline-dark">Edit</button>
									<button type="submit" name="removeCertificate" th:value="${cStat.index}"
											class="btn btn-sm btn-outline-danger">Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-3"><button type='submit' class="btn btn-primary">Save endpoint data</button></div>
			<div class="col-3 "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Cancel update</button></div>
		</div>
	</form>

	<div th:if="${certificateFormData}" class="modal fade" id="certEditDialog" data-bs-backdrop="static" aria-labelledby="gridModalLabel" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="gridModalLabel" th:text="(${certIndex} != null ? 'Edit' : 'Add') + ' endpoint certificate'"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form method="post" th:action="@{/endpoints/save}" th:object="${certificateFormData}" novalidate>
					<input type="hidden" th:field="*{oid}" />
					<div class="modal-body">
						<div th:if="${#fields.hasErrors('global')}" class="row mb-3">
							<span class="col-form-label invalid-feedback" style="display: block" th:errors="*{global}"></span>
						</div>
						<div class="row mb-3">
							<label for="cert" class="col-sm-4 col-form-label">X.509 Certificate (PEM encoded)</label>
							<div class="col-sm-7">
								<textarea class="form-control" id="cert" rows="4"
										  th:field="*{pemText}" th:errorclass="is-invalid"></textarea>
								<div id="invalidCertMsg" class="invalid-feedback" th:errors="*{pemText}"></div>
							</div>
						</div>
						<div th:if="*{subjectName}" class="row mb-3">
							<label for="subject" class="col-sm-4 col-form-label">Subject name</label>
							<div class="col-sm-7">
								<input type="text" readonly class="form-control-plaintext" id="subject" th:field="*{subjectName}">
							</div>
						</div>
						<div class="row mb-3">
							<label for="usage" class="col-sm-4 col-form-label">Usage code</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="usage" th:field="*{usage}">
							</div>
						</div>
						<div class="row mb-3">
							<label for="activation" class="col-sm-4 col-form-label">Usage activation time stamp (UTC)</label>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="date" class="form-control" id="certActivation" th:field="*{activationDate}"
										   th:errorclass="is-invalid">
									<input type="time" class="form-control" id="certActivation" th:field="*{activationTime}"
										   th:errorclass="is-invalid">
									<div id="invalidCertActivationMsg" class="invalid-feedback" th:errors="*{activationDate}"></div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<label for="expiration" class="col-sm-4 col-form-label">Usage expiration time stamp (UTC)</label>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="date" class="form-control" id="certExpiration" th:field="*{expirationDate}"
										   th:errorclass="is-invalid">
									<input type="time" class="form-control" id="certExpiration" th:field="*{expirationTime}"
										   th:errorclass="is-invalid">
									<div id="invalidCertEpirationMsg" class="invalid-feedback" th:errors="*{expirationDate}"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" name="saveCertificate" id="btnAdd" class="btn btn-primary"
								th:value="${certIndex}?: -1" th:text="${certIndex} != null ? 'Save' : 'Add'"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cancel update?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to discard all updates made to the endpoint registration ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/endpoints}"><button type="button" class="btn btn-danger">Discard changes</button></a>
				</div>
			</div>
		</div>
	</div>

	<script th:if="${certificateFormData}">
		bootstrap.Modal.getOrCreateInstance($('#certEditDialog')).show();
	</script>
</section>
</body>
</html>
