<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/settings-layout}"
	  >
<body>
<section layout:fragment="settings-content">
	<form id="schemeForm" method="post" th:action="@{/settings/ids/update}" th:object="${scheme}">
	<input type="hidden" name="action" th:value="*{schemeId}? 'edit' : 'add'">
	<div class="row">
	<div class="container">
		<h5 th:text="(*{schemeId} ? 'Edit' : 'Add') + ' identifier scheme data'">Edit ID Scheme</h5>
		<div class="card">
		<div class="card-body">
		<div class="row mb-3">
			<label for="schemeID" class="col-2 col-form-label">Scheme identifier</label>
			<div class="col-7">
				<input type="text" class="form-control" th:errorclass="is-invalid"
					   th:readonly="*{schemeId != null}"
					   id="schemeID" th:field="*{schemeId}"
					   placeholder="Scheme identifier" />
				<div id="invalidIdentifierMsg"
					 th:if="${#fields.hasErrors('schemeId')}" class="invalid-feedback"
					 th:errors="*{schemeId}">
				</div>
			</div>
		</div>
		<fieldset class="row mb-3">
			<legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
			<div class="col-sm-10">
			  <div class="form-check">
				<input class="form-check-input" type="radio" value="false" th:field="*{caseSensitive}">
				<label class="form-check-label" for="gridRadios1">
				  Identifiers are <strong>NOT</strong> case sensitive
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" value="true" th:field="*{caseSensitive}">
				<label class="form-check-label" for="gridRadios2">
				  Identifiers are case sensitive
				</label>
			  </div>
			</div>
		</fieldset>
		<div class="row mb-3">
			<label for="schemeName" class="col-2 col-form-label">Scheme name</label>
			<div class="col-7">
				<input type="text" class="form-control" id="schemeName"
						th:field="*{name}">
			</div>
		</div>
		<div class="row mb-3">
			<label for="schemeAgency" class="col-2 col-form-label">Scheme agency</label>
			<div class="col-7">
				<input type="text" class="form-control" id="schemeAgency"
						th:field="*{agency}">
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-auto "><button type='submit' class="btn btn-primary">Save identifier scheme data</button></div>
		<div class="col-auto "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Cancel update</button></div>
	</div>
	</div>
	</form>

	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Cancel update?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure you want to discard all updates made to the identifier scheme?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/settings/ids}"><button id="confirmBtn" type="button" class="btn btn-danger">Discard changes</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
