<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Holodeck SMP Server Administration</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>
</head>
<body>
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="col h-auto d-table">
            <div class="card d-table-cell align-middle">
                <div class="card-header">
					<div class="row mx-5 my-2">
						<img th:src='@{/img/logo.png}' role="img" aria-label="Holodeck B2B SMP Server"/>
					</div>
					<div class="row mx-1">
						<span class="fs-4">Server Administration Login</span>
					</div>
                </div>
                <div class="card-body">
					<div th:if="${param.error}" class="alert alert-danger">
						Oops, that didn't work out as expected...
					</div>
                    <form th:action="@{/login}" method="post">
					<div th:if="${param.logout}" class="alert alert-info">
						You are logged out now.
					</div>
                    <form th:action="@{/login}" method="post">
                        <div class="row mb-3">
                            <div class="col">
                                <!--<label class="form-label" for="username">Username</label>-->
                                <input type="email" id="username" name="email" aria-label="username"
									   class="form-control" required autofocus placeholder="Email address">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <!--<label class="form-label" for="password">Password</label>-->
                                <input type="password" id="password" name="password" aria-label="password"
									   class="form-control" required
                                       placeholder="Password">
                            </div>
                        </div>
						<div class="row mx-3">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
