<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/main-layout}"
>
<body>
<section layout:fragment="dynamic-content">
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-auto fs-4">Holodeck B2B SMP Server</div>
	</div>
	<div class="row mb-3 justify-content-center">
		<div class="col-auto fs-5" th:text='|v${appinfo.version}|'>v0.0.0</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-6">.</div>
	</div>
	</div>
</section>
</body>
</html>
