<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/main-layout}"
>
<head>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="checked" viewBox="0 0 16 16">
			<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
			<path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
		</symbol>
		<symbol id="unchecked" viewBox="0 0 16 16">
			<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
			<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
		</symbol>		
		<symbol id="suitcase" viewBox="0 0 16 16">
			<path d="M5 2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h3.5A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5H14a.5.5 0 0 1-1 0H3a.5.5 0 0 1-1 0h-.5A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2zm1 0h4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1M1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5H3V3zM15 12.5v-9a.5.5 0 0 0-.5-.5H13v10h1.5a.5.5 0 0 0 .5-.5m-3 .5V3H4v10z"/>
		</symbol>
	</svg>
</head>
<body>
<section layout:fragment="dynamic-content">
	<div class="row">
		<div class="container">
			<div class="mb-2 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<h5 class="d-flex align-items-center mb-2 me-3 mb-lg-0 text-dark text-decoration-none">
					List of Participants
				</h5>
				<a th:href="@{/participants/edit/-1}" class="btn btn-sm btn-outline-primary col-lg-auto me-lg-auto justify-content-center  ">Add new Participant</a>
			</div>
		</div>
	</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th >Particpant ID</th>
					<th >Name</th>
					<th th:if="${smlAvailable}" class="text-center">In SML?</th>
					<th th:if="${directoryAvailable}" class="text-center">In Directory?</th>
					<th class="text-center">#Services</th>
					<th ></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${participants}">
					<td th:text="${p.id.toString()}">9999:hb2b-simon</td>
					<td th:text="${p.name}">Simon's Electric Ltd.</td>
					<td th:if="${smlAvailable}" class="text-center">
						<svg class="bi me-2" width="20" height="20" role="img">
							<use th:if="${#bools.isTrue(p.isRegisteredSML) && #strings.isEmpty(p.migrationCode)}" xlink:href="#checked"></use>
							<use th:if="${#bools.isTrue(p.isRegisteredSML) && !#strings.isEmpty(p.migrationCode)}" xlink:href="#suitcase"></use>
							<use th:unless="${p.isRegisteredSML}" xlink:href="#unchecked"></use>
						</svg>
					</td>
					<td th:if="${directoryAvailable}" class="text-center">
						<svg class="bi me-2" width="20" height="20" role="img">
							<use th:if="${p.publishedInDirectory}" xlink:href="#checked"></use>
							<use th:unless="${p.publishedInDirectory}" xlink:href="#unchecked"></use>
						</svg>
					</td>
					<td th:text="${p.bindings.size()}" class="text-center">1</td>
					<td>
						<a th:href="@{/participants/edit/{oid}(oid=${p.oid})}" class="btn btn-sm btn-outline-dark">Edit</a>
							<button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete"
									th:attr="data-bs-participant=@{/participants/delete/{oid}(oid=${p.oid})}">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

	<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete participant?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete participant registration?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a id="delConfirmed"><button type="button" class="btn btn-danger">Delete participant</button></a>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#confirmDelete').on('show.bs.modal', function (event) {
		  $('#delConfirmed').attr('href', event.relatedTarget.getAttribute('data-bs-participant'));
		})
	</script>

</section>
</body>
</html>
