<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/smd-layout}"
	  >
<body>
<section layout:fragment="smd-content">
	<form id="processForm" method="post" th:action="@{/smd/processes/update}" th:object="${process}">
	<input type='hidden' th:field='*{oid}'>
	<div class="row">
	<div class="container">
		<h5 th:text="*{oid} ? 'Edit' : 'Add' + ' Process data'">Edit Process data</h5>
		<div class="card">
		<div class="card-body">
		<div class="row mb-3">
			<label for="processName" class="col-2 col-form-label">Name</label>
			<div class="col-6">
				<input type="text" class="form-control" id="processName" th:errorclass="is-invalid"
					   th:field="*{name}">
				<div id="invalidNameMsg"
					th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
					th:errors="*{name}">
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-10 offset-2">
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" id="isNoProcess"
					th:checked="${process.id} ? ${process.id.isNoProcess()} : 'false'">
				<label class="form-check-label" for="isNoProcess">Is «No Process»</label>
			  </div>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-2 col-form-label">Identifier</label>
			<div class="col-3">
				<select class="form-select " th:errorclass="is-invalid"
						th:disabled="${process.id} ? ${process.id.isNoProcess()} : 'false'"
						id="inputIdScheme" th:field="*{id.scheme}">
					<option value="-1">Without scheme</option>
					<option th:each="ids : ${idSchemes}" th:value="${ids.schemeId}"
							th:text="${ids.schemeId}">Wireframe</option>
				</select>
			</div>
			<div class="col-7">
				<input type="text" class="form-control" th:errorclass="is-invalid"
					   th:disabled="${process.id} ? ${process.id.isNoProcess()} : 'false'"
					   id="inputIdValue" th:field="*{id.value}"
					   placeholder="Process identifier" />
				<div id="invalidIdentifierMsg"
					 th:if="${#fields.hasErrors('id.value')}" class="invalid-feedback"
					 th:errors="*{id.value}">
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="processSpec" class="col-2 col-form-label">Specification reference</label>
			<div class="col-6">
				<input type="text" class="form-control" id="processSpec" th:field="*{specificationRef}">
			</div>
		</div>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-auto "><button type='submit' class="btn btn-primary">Save process data</button></div>
		<div class="col-auto "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Cancel update</button></div>
	</div>
	</div>
	</div>
	</form>

	<script>
		$(document).ready(function() {
			if ($('#isNoProcess').prop('checked'))
				$('#inputIdValue').val("");
		});

		$('#isNoProcess').change(function() {
			if ($(this).prop('checked')) {
				$('#inputIdScheme').attr('disabled', 'true');
				$('#inputIdValue').attr('disabled', 'true');
			} else {
				$('#inputIdScheme').removeAttr('disabled');
				$('#inputIdValue').removeAttr('disabled');
			}
		})

		$('#processForm').submit(function (e) {
			if ($('#isNoProcess').prop('checked')) {
				$('#inputIdScheme').val("");
				$('#inputIdValue').val("hb2b:no-process");
			}
			$('#inputIdScheme').removeAttr('disabled');
			$('#inputIdValue').removeAttr('disabled');
		})
	</script>

	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Cancel update?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure you want to discard all updates made to the Process registration?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/smd/processes}"><button id="confirmBtn" type="button" class="btn btn-danger">Discard changes</button></a>
				</div>
			</div>
		</div>
	</div>

</section>
</body>
</html>
