<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/smd-layout}"
	  >
<head>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="forward" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
		</symbol>
		 <symbol id="x" viewBox="0 0 16 16">
			<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
		</symbol>
		<symbol id="edit" viewBox="0 0 16 16">
			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
			<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
		</symbol>>
	</svg>
</head>
<body>
<section layout:fragment="smd-content">
	<form id="smtForm" method="post" th:action="@{/smd/smt/update}" th:object="${serviceMetadataTemplateE}">
	<div class="row">
	<div class="container">
		<h5 th:text="*{oid} ? 'Edit' : 'Add' + ' Service Metadata Template'">Edit Service Metadata Template</h5>
		<div class="card">
		<div class="card-header">
			General
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<label for="inputIdScheme" class="col-sm-3 col-form-label">Service</label>
				<div class="col-sm-7">
					<select id="transportProfile" class="form-select" th:field="*{service}"
							th:errorclass="is-invalid">
						<option value="" selected>Select service to use for this template</option>
						<option th:each="s : ${allServices}" th:value="${s.oid}" th:text="${s.name}" th:title="${s.id.value}">Select service</option>
					</select>
					<div th:if="${#fields.hasErrors('service')}" th:errors="*{service}"
						id="invalidServiceMsg" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="inputName" class="col-sm-3 col-form-label">Name</label>
				<div class="col-sm-7">
				<input type="text" class="form-control" id="inputName" th:field="*{name}"
					   placeHolder="If not set, will default to Service name">
				</div>
			</div>
		</div>
		</div>
		<div class="card">
		<div class="card-header">
			<div class="row align-items-center">
				<div class="col col-md-auto">Processes and endpoints</div>
				<div class="col"><button type="submit" name="addProcGroup" value="22"
						class="btn btn-sm btn-outline-primary">Add process group</button></div>
			</div>
		</div>
		<div class="card-body" style="overflow-y: scroll; max-height: 50vh">
		<div th:if="${#fields.hasErrors('processMetadata')}" class="row mb-3">
			<span class="fs-6 invalid-feedback" style="display: block" th:errors="*{processMetadata}"></span>
		</div>
		<div class="accordion" id="pgAccordion">
		<div th:each="pg, pgStat : *{processMetadata}" class="accordion-item">
			<span class="accordion-header f2-text" th:id="|heading_${pgStat.index}|">
			  <span class="accordion-button" type="button" data-bs-toggle="collapse"
					  th:data-bs-target="|#collapse_${pgStat.index}|" aria-expanded="true"
					  aria-controls="|#collapse_${pgStat.index}|"
					  >Process Group #[(${pgStat.index + 1})]
			  </span>
			</span>
			<div th:id="|collapse_${pgStat.index}|" class="accordion-collapse collapse show"
				 th:aria-labelledby="|heading_${pgStat.index}|" data-bs-parent="#pgAccordion">
			<div class="accordion-body">
			<div class="row">
				<div class="col-8 mr-5">
					<table id="procList" class="table " >
						<thead>
						<tr>
							<th>Process</th>
							<th>Participant role(s)</th>
							<th></th>
						</tr>
						</thead>
						<tbody >
						<tr th:each="p, pStat : ${pg.processInfo}">
							<td>
								<span th:if="${!p.processId.isNoProcess()}" th:text="${p.process.name}" th:title="${p.processId.value}"></span>
								<span th:if="${p.processId.isNoProcess()}">«No process»</span>
							</td>
							<td>
								<div th:each="r : ${p.roles}">
									<span th:text="${r.value}"></span><br/>
								</div>
							</td/>
							<td>
								<a href="#" onclick="submitForm(this);" name="editProcess" th:value="|${pgStat.index},${pStat.index}|" style="margin-right: 0.25em"><svg class="bi" fill="currentColor" width="16" height="16" role="img" aria-label="Editt"><use xlink:href="#edit"></use></svg></a>
								<a href="#" onclick="submitForm(this);" name="removeProcess" th:value="|${pgStat.index},${pStat.index}|"><svg class="bi text-danger" fill="currentColor" width="16" height="16" role="img" aria-label="Remove from list"><use xlink:href="#x"></use></svg></a>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="d-grid col-4 d-md-block row justify-content-center mx-auto ">
						<button type='submit' name="addProcess" th:value="${pgStat.index}" class="btn btn-sm btn-outline-primary" >Add process</button>
					</div>
				</div>
				<div class="col-4">
					<div th:if="${#fields.hasErrors('processMetadata[__${{pgStat.index}}__]')}" th:errors="*{processMetadata[__${{pgStat.index}}__]}"
						 class="invalid-feedback" style="display: unset">Invalid endpoint/redirection</div>
					<table id="epList" class="table " >
					<thead>
					<tr>
						<th >Used endpoints/redirection</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="ep, epStat : ${pg.endpoints}">
							<td th:text="${ep.name}" th:title="${ep.url}">Default AS4 endpoint </td>
							<td><a href="#" onclick="submitForm(this);" name="removeEndpoint" th:value="|${pgStat.index},${epStat.index}|"><svg class="bi text-danger" fill="currentColor" width="16" height="16" role="img" aria-label="Remove from list"><use xlink:href="#x"></use></svg></a></td>
						</tr>
						<tr th:if="${pg.redirection}">
							<td><svg class="bi" fill="currentColor" width="16" height="16" role="img" aria-label="Is redirection to"><use xlink:href="#forward"></use></svg>
								<span th:text="${pg.redirection.newSMPURL}">https://another.smp.server/togoto/</span>
							</td>
							<td>
								<a href="#" onclick="submitForm(this);" name="editRedirect" th:value="${pgStat.index}" style="margin-right: 0.25em"><svg class="bi" fill="currentColor" width="16" height="16" role="img" aria-label="Editt"><use xlink:href="#edit"></use></svg></a>
								<a href="#" onclick="submitForm(this);" name="removeRedirect" th:value="${pgStat.index}"><svg class="bi text-danger" fill="currentColor" width="16" height="16" role="img" aria-label="Remove from list"><use xlink:href="#x"></use></svg></a>
							</td>
						</tr>
					</tbody>
					</table>
					<div class="row justify-content-center mt-2 ">
						<div class="col-auto"><button th:disabled="${pg.redirection} != null"
								name="addEndpoint" th:value="${pgStat.index}"
								type='submit' class="btn btn-sm btn-outline-primary">Add endpoint</button></div>
						<div class="col-auto"><button th:disabled="not (${pg.endpoints.isEmpty()} and ${pg.redirection} == null)"
								name="addRedirect" th:value="${pgStat.index}"
								type="submit" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Add redirection</button></div>
					</div>
				  </div>
			  </div>
			  <div th:unless="*{processMetadata.size() == 1}" class="row d-grid col-4 d-md-block justify-content-center mt-3 mx-auto ">
				  <button class="btn btn-sm btn-outline-danger" style="margin-left: 1em"
						onclick="confirmRemoveGroup(event);" data-confirm-title="Confirm process group removal"
						data-confirm-question="Are you sure you want to remove this process group?"
						data-confirm-button="Remove"
						name="removeProcGroup" th:value="${pgStat.index}">Remove this group</span>

			  </div>
			</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-auto "><button type='submit' class="btn btn-primary">Save service metadata template</button></div>
		<div class="col-auto "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Cancel update</button></div>
	</div>
	</div>
	</form>
	<script>
		function submitForm(b) {
			$('<input />').attr('type', 'hidden')
						   .attr('name', $(b).attr("name"))
						   .attr('value', $(b).attr("value"))
						   .appendTo('#smtForm');
			$("#smtForm").submit();
		}

		function confirmRemoveGroup(e) {
			e.preventDefault();
			e.stopPropagation();
			var b = e.target;
			var confirmDlg = $('#confirmDialog');
			$('#title', confirmDlg).text($(b).attr("data-confirm-title"));
			$('#question', confirmDlg).text($(b).attr("data-confirm-question"));
			$('#confirmBtn', confirmDlg).text($(b).attr("data-confirm-button"));
			$('#confirmBtn', confirmDlg).on('click', function() { submitForm(b); });

			bootstrap.Modal.getOrCreateInstance(confirmDlg).show();
		}
	</script>

	<div th:if="${processInfoFormData}">
		<div th:replace="admin-ui/pg_dialogs :: procInfoDialog"></div>
		<script>
			bootstrap.Modal.getOrCreateInstance($('#procInfoDialog')).show();
		</script>
	</div>
	<div th:if="${endpoint}">
		<div th:replace="admin-ui/pg_dialogs :: endpointDialog"></div>
		<script>
			bootstrap.Modal.getOrCreateInstance($('#epAddDialog')).show();
		</script>
	</div>
	<div th:if="${redirection}">
		<div th:replace="admin-ui/pg_dialogs :: redirectDialog"></div>
		<script>
			bootstrap.Modal.getOrCreateInstance($('#redirectDialog')).show();
		</script>
	</div>

	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Cancel update?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure you want to discard all updates made to the endpoint registration ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/smd/smt}"><button id="confirmBtn" type="button" class="btn btn-danger">Discard changes</button></a>
				</div>
			</div>
		</div>
	</div>

</section>
</body>
</html>
