<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-ui/layouts/settings-layout}"
>
<body>
<section layout:fragment="settings-content">
	<form id="userForm" method="post" th:action="@{/settings/users/update}" th:object="${account}">
	<div class="row">
		<div class="container">
			<h5 th:text="(*{oid} ? 'Edit' : 'Add') + ' user'">Edit user</h5>
			<div class="card">
			<div class="card-body">
				<div th:replace="admin-ui/uaccount_fragment::form(false)"></div>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-auto "><button type='submit' class="btn btn-primary">Save user info</button></div>
			<div class="col-auto "><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmCancel">Cancel update</button></div>
		</div>
		</div>
	</div>
	</form>

	<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span id="title" class="modal-title">Cancel update?</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="question">Are you sure you want to discard all updates made to the user?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
					<a th:href="@{/settings/users}"><button id="confirmBtn" type="button" class="btn btn-danger">Discard changes</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
